<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/home/index.css" />
    <script type="text/javascript" src="/static/common/jquery-1.11.1.min.js"></script>
</head>
<body>

<div id="header">
    <div id="logo">
        <a href="/"><img src="/imgs/f2etest.png" alt="f2etest" width="24" height="24"><span class="sitename">「stbui」</span></a><span class="sitever"><a href="/changelog" target="_blank">v2.0.0</a></span>
        <span id="navTab"><a href="/" class="sel">浏览器云</a> <a href="http://172.16.97.13:21000" class="sel">gitlab</a></span>
    </div>
    <div id="options">
        <span id="username">User1466011150920</span> | <a href="/logout">注销</a>

        | <a href="/help" class="">帮助</a> | <a href="/install" class="">安装到电脑</a> | <a href="/local" class="">代理到本地</a> | <a href="/stat" class="">统计</a> | <a href="/api" class="">API</a>

    </div>
</div>