<div class='pathinfo'>
    <div class='p'>
        <div class='icon file_icon'></div>
        <input type='text' class='info_name' name='filename' value='{{name}}'/>
        <div style='clear:both'></div>
    </div>

    {{if download_path}}
    <div class='line'></div>
    <div class='p'>
        <div class='title'>{{LNG.download_address}}:</div>
        <div class=\"content input-group\">
        <input type=\"text\" class=\"download_url\" value='{{download_path}}'>
        <div class=\"input-group-btn\">
            <button type=\"button\" class=\"btn btn-default open_window\">{{LNG.open}}</button>
        </div>
    </div>
    <div style='clear:both'></div>
</div>
{{/if}}

<div class='line'></div>
<div class='p'>
    <div class='title'>{{LNG.address}}:</div>
    <div class='content' id='id_fileinfo_path'>{{path}}</div>
    <div style='clear:both'></div>
</div>
<div class='p'>
    <div class='title'>{{LNG.size}}:</div>
    <div class='content'>{{size_friendly}}  ({{size}} Byte)</div>
    <div style='clear:both'></div>
</div>
<div class='line'></div>
<div class='p'>
    <div class='title'>{{LNG.create_time}}</div>
    <div class='content'>{{ctime}}</div>
    <div style='clear:both'></div>
</div>
<div class='p'>
    <div class='title'>{{LNG.modify_time}}</div>
    <div class='content'>{{mtime}}</div>
    <div style='clear:both'></div>
</div>
<div class='p'>
    <div class='title'>{{LNG.last_time}}</div>
    <div class='content'>{{atime}}</div>
    <div style='clear:both'></div>
</div>

{{if download_path}}
<div class='line'></div>
<div class='p'>
    <div class='title'>{{LNG.permission}}:</div>
    <div class='content'>{{mode}}</div>
    <div style='clear:both'></div>
</div>
<div class='p'>
    <div class='title'>{{LNG.permission_edit}}:</div>
    <div class='content'><input type='text' class='info_chmod' value='777'/>
        <button class='btn btn-default btn-sm edit_chmod' type='button'>{{LNG.button_save}}</button></div>
    <div style='clear:both'></div>
</div>
{{/if}}
</div>