<footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">dCloud</strong> Admin
				</span>
				<p class="no-margin">
					&copy; 2016 <strong>dCloud Admin</strong>. ALL Rights Reserved. 
				</p>	
			</footer>
</div><!-- /wrapper -->


	
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		
		<!-- Bootstrap -->
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	  
		<!-- Flot -->
		<script src='/static/js/jquery.flot.min.js'></script>

		<!-- Slimscroll -->
		<script src='/static/js/jquery.slimscroll.min.js'></script>
		
		<!-- Morris -->
		<script src='/static/js/rapheal.min.js'></script>	
		<script src='/static/js/morris.min.js'></script>	

		<!-- Datepicker -->
		<script src='/static/js/uncompressed/datepicker.js'></script>

		<!-- Sparkline -->
		<script src='/static/js/sparkline.min.js'></script>

		<!-- Skycons -->
		<script src='/static/js/uncompressed/skycons.js'></script>
		
		<!-- Popup Overlay -->
		<script src='/static/js/jquery.popupoverlay.min.js'></script>

		<!-- Easy Pie Chart -->
		<script src='/static/js/jquery.easypiechart.min.js'></script>

		<!-- Sortable -->
		<script src='/static/js/uncompressed/jquery.sortable.js'></script>

		<!-- Owl Carousel -->
		<script src='/static/js/owl.carousel.min.js'></script>

		<!-- Modernizr -->
		<script src='/static/js/modernizr.min.js'></script>
		
		<!-- Simplify -->
		<script src="/static/js/simplify/simplify.js"></script>
		<!-- // <script src="js/simplify/simplify_dashboard.js"></script> -->

  	</body>
</html>
