<footer class="footer">
				<span class="footer-brand">
					<strong class="text-danger">dCloud</strong> Admin
				</span>

    <p class="no-margin">
        &copy; 2016 <strong>dCloud Admin</strong>. ALL Rights Reserved.
    </p>
</footer>
</div>



<script src="/static/lib/jquery.slimscroll.min.js"></script>
<script src="/static/lib/jquery.easypiechart.min.js"></script>
<script src="/static/lib/jquery.flot.min.js"></script>
<script src="/static/lib/jquery.localScroll.min.js"></script>
<script src="/static/lib/jquery.popupoverlay.min.js"></script>
<script src="/static/lib/jquery.scrollTo.min.js"></script>

<script src="/static/admin/js/simplify/simplify.js"></script>
</body>
</html>
