<script src="/static/lib/jquery-1.11.1.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/jquery.slimscroll.min.js"></script>
<!--<script src="/static/lib/jquery.easypiechart.min.js"></script>-->
<!--<script src="/static/lib/jquery.flot.min.js"></script>-->
<script src="/static/lib/jquery.localScroll.min.js"></script>
<script src="/static/lib/jquery.popupoverlay.min.js"></script>
<script src="/static/lib/jquery.scrollTo.min.js"></script>
<script src="/static/admin/js/simplify/simplify.js"></script>