<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>dCloud Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="stbui.com">
    <% include common/style.html %>
</head>
<body class="overflow-hidden">
<div class="wrapper preload">
    <% include common/silder-menu.html %>
    <div class="main-container">
        <div class="padding-md">
            服务端
            <div class="row">
                <div class="col-lg-12">
                    <a id="start" class="btn btn-primary" href="/api/server/start">启动服务</a>
                    <a id="restart" class="btn btn-primary" href="/api/server/restart">重启服务</a>
                    <a id="stop" class="btn btn-primary" href="/api/server/stop">停止服务</a>
                    <a id="config" id="allApp" class="btn btn-primary" href="/api/server/config?type=write">生成 Guacamole
                        配置文件</a>
                </div>
            </div>
            <br>
            客户端
            <div class="row">
                <div class="col-lg-12">
                    <a id="" class="btn btn-primary" href="/proxy/remoteGenerateCmd">同步应用程序</a>
                    <a id="" class="btn btn-primary" href="/admin/user/syncAllRemoteUsers?ip=192.168.159.137">同步账号</a>
                </div>
            </div>

        </div>

    </div>
    <% include common/footer.html %>
</div>
<% include common/script.html %>
<script>
    $('#start').on('click', function (e) {
        e.preventDefault();

        var $this = $(e.target);
        var url = $this.attr('href');

        $.ajax({
            url: url,
            success: function (data) {
                if (data.resultCode == 0) {
                    $this.html('启动成功');
                } else {
                    $this.html('启动失败');
                }

            },
            error: function () {
                $this.val('启动失败');
            }
        });

    });


    $('#restart').on('click', function (e) {
        e.preventDefault();

        var $this = $(e.target);
        var url = $this.attr('href');

        $.ajax({
            url: url,
            success: function (data) {
                if (data.resultCode == 0) {
                    $this.html('重启成功');
                } else {
                    $this.html('重启失败');
                }

            },
            error: function () {
                $this.val('重启失败');
            }
        });

    });


    $('#stop').on('click', function (e) {
        e.preventDefault();

        var $this = $(e.target);
        var url = $this.attr('href');

        $.ajax({
            url: url,
            success: function (data) {
                if (data.resultCode == 0) {
                    $this.html('停止成功');
                } else {
                    $this.html('停止失败');
                }

            },
            error: function () {
                $this.val('停止失败');
            }
        });

    });


    $('#config').on('click', function (e) {


    });

</script>
</body>
</html>