<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
站点配置

<table>
    <tr>
        <td>站点名称：</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>访问地址：</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>端口号：</td>
        <td>80</td>
        <td>修改端口号，须要重启服务</td>
    </tr>
    <tr>
        <td>端口号：</td>
        <td>80</td>
        <td>修改端口号，须要重启服务</td>
    </tr>
    <tr>
        <td>统计</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ApiKey</td>
        <td>9c4fa840209097f905542173304f6b8d</td>
        <td></td>
    </tr>
    <tr>
        <td>guacamoleApi</td>
        <td>http://172.16.97.13:20000/guacamole/client.xhtml</td>
        <td></td>
    </tr>
    <tr>
        <td>wdCheckNodesInterval</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>wdEnabled</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>wdCheckNodesParallelLimit</td>
        <td></td>
        <td></td>
    </tr>
</table>


数据库配置
<table>
    <tr>
        <td>数据库地址</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>数据库名称</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>数据库用户</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>数据库密码</td>
        <td></td>
        <td></td>
    </tr>
</table>

服务器配置
<table>
    <tr>
        <td>服务器</td>
        <td></td>
        <td>IP+port</td>
    </tr>
    <tr>
        <td>remoteApp</td>
        <td>false</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>


应用程序配置

<table>
    <tr>
        <td>程序名称</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>程序路径</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>



</body>
</html>