<% include common/header.html %>
<% include common/silder-menu.html %>

<div class="main-container">

    <div class="padding-md">

        <div class="smart-widget widget-dark-blue">
            <div class="smart-widget-header">
                服务器配置
                <span class="smart-widget-option">
                    <a class="" href="/admin/server"><i class="fa fa-reply"></i> 返回</a>
                </span>
            </div>
            <div class="smart-widget-inner">

                <div class="smart-widget-body">

                    <form id="formToggleLine" method="post" class="form-horizontal no-margin form-border">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器名称</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="name" class="form-control" placeholder=""
                                               value="">
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="help-block">用于区分不同服务器名称</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器IP</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="ip" class="form-control" placeholder=""
                                               value="">
                                    </div>
                                    <div class="col-lg-9">
                                        <span class="help-block">客户端服务器IP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器端口</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="port" class="form-control" placeholder=""
                                               value="80">
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="help-block">默认80端口</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">探针部署路径</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="probePath" class="form-control" placeholder="C:\www"
                                               value="">
                                    </div>
                                    <div class="col-lg-9">
                                        <span class="help-block">部署在客户端服务器脚本路径</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-danger" data-toggle="modal">保存</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<% include common/footer.html %>