<% include common/header.html %>
<% include common/silder-menu.html %>

<div class="main-container">

    <div class="padding-md">

        <div class="smart-widget widget-dark-blue">
            <div class="smart-widget-header">
                服务器配置
                            <span class="smart-widget-option">
								<a class="" href="/admin/server">返回</a>
								<span class="refresh-icon-animated">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</span>
	                            <a href="#" class="widget-toggle-hidden-option">
                                    <i class="fa fa-cog"></i>
                                </a>
	                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
	                            <a href="#" class="widget-refresh-option">
                                    <i class="fa fa-refresh"></i>
                                </a>
	                            <a href="#" class="widget-remove-option">
                                    <i class="fa fa-times"></i>
                                </a>
	                        </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-hidden-section">
                    <ul class="widget-color-list clearfix">
                        <li style="background-color:#20232b;" data-color="widget-dark"></li>
                        <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                        <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                        <li style="background-color:#2baab1;" data-color="widget-green"></li>
                        <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                        <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                        <li style="background-color:#e36159;" data-color="widget-red"></li>
                        <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                        <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                        <li style="background-color:#fff;" data-color="reset"></li>
                    </ul>
                </div>
                <div class="smart-widget-body">

                    <form id="formToggleLine" method="post" class="form-horizontal no-margin form-border">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器名称</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="name" class="form-control" placeholder="" value="<%= server.name %>">
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="help-block">名称不能重复</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器IP</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="ip" class="form-control" placeholder="" value="<%= server.ip %>">
                                    </div>
                                    <div class="col-lg-9">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">服务器端口</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="port" class="form-control" placeholder="" value="<%= server.port %>">
                                    </div>
                                    <div class="col-lg-9">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">应用程序</label>-->
                            <!--<div class="col-lg-10">-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox1" class="checkbox-red" checked="">-->
                                        <!--<label for="inlineCheckbox1"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 6-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox2" checked="">-->
                                        <!--<label for="inlineCheckbox2"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 7-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox3" class="checkbox-purple" checked="">-->
                                        <!--<label for="inlineCheckbox3"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 8-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox4" class="checkbox-blue" checked="">-->
                                        <!--<label for="inlineCheckbox4"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 9-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox5" class="checkbox-yellow" checked="">-->
                                        <!--<label for="inlineCheckbox5"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 10-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="app" id="inlineCheckbox6" class="checkbox-grey" checked="">-->
                                        <!--<label for="inlineCheckbox6"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--IE 11-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">生成客户端探针</label>-->
                            <!--<div class="col-lg-10">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-lg-3">-->
                                        <!--<a href="#formInModal" class="" data-toggle="modal">生成并下载</a>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-9">-->
                                        <!--<span class="help-block"></span>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-danger" data-toggle="modal">保存</button>
                            </div><!-- /.col -->
                        </div>

                    </form>

                </div>
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->


    </div>

</div>

<% include common/footer.html %>