<% include common/header.html %>
<% include common/silder-menu.html %>

<div class="main-container">

    <div class="padding-md">

        <div class="smart-widget widget-dark-blue">
            <div class="smart-widget-header">
                系统配置
            </div>
            <div class="smart-widget-inner">

                <div class="smart-widget-body">

                    <form id="formToggleLine" method="post" class="form-horizontal no-margin form-border">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">站点名称</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="text" name="name" class="form-control" placeholder=""
                                               value="<%=config.name %>">
                                    </div>
                                    <div class="col-lg-9">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">访问地址</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" name="" class="form-control" placeholder="" value=""
                                               disabled>
                                    </div>
                                    <div class="col-lg-8">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">ApiKey</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="apiKey" class="form-control" placeholder=""
                                               value="<%=config.apiKey %>" disabled>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="help-block">
                                            <a id="signApi" class="label label-success label-lg" href="">生成</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">登陆方式</label>-->

                            <!--<div class="col-lg-10">-->
                                <!--<div class="col-lg-10">-->
                                    <!--<div class="radio inline-block">-->
                                        <!--<div class="custom-radio m-right-xs">-->
                                            <!--<input type="radio" id="inlineRadio3" name="inlineRadio" checked>-->
                                            <!--<label for="inlineRadio3"></label>-->
                                        <!--</div>-->
                                        <!--<div class="inline-block vertical-top">正常登陆</div>-->
                                    <!--</div>-->
                                    <!--<div class="radio inline-block">-->
                                        <!--<div class="custom-radio m-right-xs">-->
                                            <!--<input type="radio" id="inlineRadio1" name="inlineRadio">-->
                                            <!--<label for="inlineRadio1"></label>-->
                                        <!--</div>-->
                                        <!--<div class="inline-block vertical-top">自动登陆</div>-->
                                    <!--</div>-->
                                    <!--<div class="radio inline-block">-->
                                        <!--<div class="custom-radio m-right-xs">-->
                                            <!--<input type="radio" id="inlineRadio2" name="inlineRadio">-->
                                            <!--<label for="inlineRadio2"></label>-->
                                        <!--</div>-->
                                        <!--<div class="inline-block vertical-top">自动注册</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">wdCheckNodesInterval</label>-->

                            <!--<div class="col-lg-10">-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="proxy" id="proxy" class="checkbox-grey">-->
                                        <!--<label for="proxy"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--开启-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">wdEnabled</label>-->

                            <!--<div class="col-lg-10">-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="proxy" id="proxy" class="checkbox-grey">-->
                                        <!--<label for="proxy"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--开启-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-lg-2 control-label">wdCheckNodesParallelLimit</label>-->

                            <!--<div class="col-lg-10">-->
                                <!--<div class="checkbox inline-block">-->
                                    <!--<div class="custom-checkbox">-->
                                        <!--<input type="checkbox" name="proxy" id="proxy" class="checkbox-grey">-->
                                        <!--<label for="proxy"></label>-->
                                    <!--</div>-->
                                    <!--<div class="inline-block vertical-top">-->
                                        <!--开启-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-danger" data-toggle="modal">保存</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                Guacamole 配置
            </div>
            <div class="smart-widget-inner">

                <div class="smart-widget-body">

                    <form id="" method="post" class="form-horizontal no-margin form-border">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Guacamole Api</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="form-control" name="guacamoleApi" type="text" placeholder=""
                                               value="<%=config.guacamoleApi %>">
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="help-block">调用地址：http://ip/guacamole/client.xhtml</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Guacamole 配置文件</label>

                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="form-control" name="guacamoleConfig" type="text" placeholder=""
                                               value="<%=config.guacamoleConfig %>">
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="help-block">配置文件路径：/etc/guacamole/noauth-config.xml</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>

                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-danger" data-toggle="modal">保存</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>

</div>


<script>
    $('#signApi').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: '/api/getapikey',
            success: function (data) {
                $('input[name=apiKey]').val(data.data.apiKey);
            },
            error: function () {

            }
        });

    });

</script>

<% include common/footer.html %>