<% include common/header.html %>

<div class='bodymain html5_drag_upload_box desktop'>
    <img class="background" src="/static/home/images/wall_page/7.jpg"/>

    <div class="fileContiner fileList_icon">
    </div>

</div>

<a href="#" class="start"></a>
<div id="taskbar" style="display:block;">
    <div id="desktop"></div>
</div>
<div class="taskbar_right">
    <div class="copyright dropdown-toggle"><i class="icon-info-sign"></i></div>
    <div class="tab_hide_all"></div>
</div>
<div id="menuwin">
    <div id="startmenu"></div>
    <ul id="programs">
        <li><a href="/desktop">我的桌面</a></li>
        <li>
            <div id="leftspliter"></div>
        </li>
        <li><a class="topbar_menu " href="/" target="_self"><i class="font-icon menu-explorer"></i>jsunit</a></li>
        <li><a class="topbar_menu" href="/" target="_self"><i class="font-icon menu-editor"></i>WebDriver云</a></li>
        <li><a href="#" onclick="core.setting('help');">使用帮助</a></li>
        <li class="search"></li>
    </ul>
    <ul id="links">
        <li class="icon"></li>
        <li><a href="javascript:core.fullScreen();"><span>全屏/退出全屏</span></a>
        <li><a href="javascript:core.setting('user');"><span>个人中心</span></a></li>
        <li><a target="_blank" href="/admin/index"><span>系统设置</span></a></li>
        <li><a href="/signin/logout" style="margin-top:70px;"><span>退出</span></a></li>
    </ul>
</div>


<script src="/static/lib/jquery-1.11.1.min.js"></script>
<script>
    var url = '/desktop/pathlist'
    $.ajax({
        url: url,
        success: function (data) {
            data = data.data;
            var dom = '<div class="file fileBox menufile" data-id="${id}" data-name="${name}" title="名称:{name}"><div class="ico" style="background-image:url(${icon})"></div><div id="" class="titleBox"><span class="title" title="">${name}</span></div></div>'

            var outHtml = '';
            for (var i in data) {
                var id = data[i].id;
                var name = data[i].name;
                var icon = data[i].icon;

                outHtml += dom.replace('${name}', name)
                        .replace('${name}', name)
                        .replace('${name}', name)
                        .replace('${id}', id)
                        .replace('${icon}', icon);
            }

            outHtml += '<div style="clear:both;"></div>';
            $('.fileContiner').html(outHtml).addClass('file');

            $(window).on('resize', function () {
                var e = 10, a = 10, t = 85, i = 100, n = 10, s = $(document).height() - 50, o = Math.floor((s - e) / (i + n)), r = 0, l = 0, c = 0, d = 0;
                $(".fileContiner .file").css("position", "absolute"), $(".fileContiner .file").each(function (s) {
                    r = s % o, l = Math.floor(s / o), c = a + (t + n) * l, d = e + (i + n) * r, $(this).css({left: c, top: d})
                })
            });

            $(window).trigger('resize');

            $('.fileContiner .file').on('mouseenter', function () {
                var $this = $(this);

                $this.addClass('hover');
            }).on('mouseleave', function () {
                var $this = $(this);

                $this.removeClass('hover');
                $this.removeClass("selectDragTemp");
            }).on('click', function () {
                $('.fileContiner .select').each(function () {
                    $(this).removeClass('select');
                });

                $(this).addClass('select')
            }).on('dblclick', function () {
                var id = $(this).data('id');
                var url = location.origin + '/openApp?id='+id;
                window.open(url);
            });
        },
        error: function () {
        }
    });


</script>

<% include common/footer.html %>
